*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Fraunces', 'sans-serif';
    scroll-behavior: smooth;
}

h2 {
    font-size: 3rem;
    color: #343a40;
}

p {
    font-size: 1.7rem;
    line-height: 2.8rem;
    color: #929aa3;
}

a {
    text-decoration: none;
    color: #343a40;
    font-size: 1.6rem;
}

figure {
    width: 100%;
    height: 100%;
}

figure img {
    width: 100%;
    height: 100%;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.container {
    width: 100%;
    min-width: 320px;
    max-width: 1536px;
    margin: 0 auto;
}

.navbar {
    margin-top: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.navbar > a {
    margin-left: 2rem;
}
.navbar > a img {
    width: 15rem;
}

.navbar .hamburg-menu {
    margin-right: 2rem;
    cursor: pointer;
    display: none;
}

.navbar .desktop-menu {
    display: block;
}


.navbar .desktop-menu ul {
    display: flex;
}

.navbar .desktop-menu ul li {
    list-style-type: none;
}

.navbar .desktop-menu ul li a {
    margin-left: 4rem;
    font-family: 'Barlow', 'sans-serif';
    color: white;
}

.navbar .desktop-menu ul li:last-child > a {
    padding: 2rem 3rem 2rem 3rem;
    background-color: rgb(255, 255, 255);
    font-family: 'Fraunces', 'sans-serif';
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #343a40;
    border-radius: 10rem;
}

.navbar .desktop-menu ul li:last-child > a:hover {
    color: white;
    background-color: rgba(255, 255, 255,.3);
}

#mobileMenu {
    position: absolute;
    top: 500%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 94%;
    height: 300px;
    padding: 0 1rem 0 1rem;
    font-family: 'Barlow', 'sans-serif';
}

#mobileMenu ul {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    text-align: center;
    background-color: white;
}

.triangle {
    position: absolute;
    top: -20px;
    right: 0;
    width: 30px;
    height: 30px;
    background-color: white;
-webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%); clip-path: polygon(100% 0, 0% 100%, 100% 100%);

}

#mobileMenu ul li {
    list-style-type: none;
    color: #858489;
}

#mobileMenu ul li a {
    color: #858489;
}

#mobileMenu ul li:last-child a{
    padding: 1.5rem 3.3rem 1.5rem 3.3rem;
    border-radius: 30px;
    background-color: gold;
    font-family: 'Fraunces', 'sans-serif';
    text-transform: uppercase;
    color: #343a40;
}

header {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: 800px;
    background-image: url('../images/desktop/image-header.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header__title {
    position: absolute;
    left: 50%;
    bottom: 65%;
    transform: translate(-50%, 0);
    color: white;
    font-size: 3rem;
    text-align: center;
}

.arrow-down{
    position: absolute;
    left: 50%;
    bottom: 40%;
    transform: translate(-50%, 0);
}

.arrow-down img {
    height: 10rem;
}

.section-1, .section-2 {
    display: flex;
    flex-direction: row;
}

.section-1 {
    flex-direction: row-reverse;
}

.transform-brand, .stand-out {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 450px;
    padding: 0 2rem 0 2rem;
    text-align: center;
}

.egg, .pink-cup {
    width: 50%;
}

div > a {
    text-transform: uppercase;
}

.transform-brand h2, p {
    margin-bottom: 2.5rem;
}

.transform-brand p {
    font-family: 'Barlow', 'sans-serif';
}

.transform-brand a {
    text-decoration: underline;
    text-decoration-color: #ffee99;
    text-decoration-thickness: .5rem;
}

.stand-out h2, p {
    margin-bottom: 2.5rem;
}

.stand-out p {
    font-family: 'Barlow', 'sans-serif';
}

.stand-out a {
    text-decoration: underline;
    text-decoration-color: rgba(254, 127, 112, .4);
    text-decoration-thickness: .5rem;
}

/* Secciones con texto dentro de la imagenes */

.section-3 , .section-4 {
    position: relative;

}


.berries-mandarine {
    display: flex;
}

.berries {
    background-image: url('../images/desktop/image-graphic-design.jpg');
}

.mandarine {
    background-image: url('../images/desktop/image-photography.jpg');
   
}

.text-over-image {
    position: absolute;
    bottom: 30px;
    padding: 0 2rem 0 2rem;
    text-align: center;
}

.text-over-image p {
    font-size: 1.8rem;
}

.graphic-desing h2{
    color: rgb(53, 80, 73);
}
.graphic-desing p{
    margin-top: 1rem;
    line-height: 2.4rem;
    font-family: 'Barlow', 'sans-serif';
    color: rgb(53, 80, 73);
}

.photography h2 {
    color: rgb(35, 73, 92);
}

.photography p {
    margin-top: 1rem;
    line-height: 2.4rem;
    font-family: 'Barlow', 'sans-serif';
    color: rgb(35, 73, 92);
}

/* Seccion de opinion del cliente */

.section-5 {
    padding: 8rem 3rem 8rem 3rem;
}

.testi-title {
    margin-bottom: 5rem;
    letter-spacing: .6rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.6rem;
    color: grey;
}

.client {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 7rem;
    text-align: center;
    font-family: 'Barlow', 'sans-serif';
}

.client figure {
    display: flex;
    justify-content: center;
}

.client img {
    width: 8rem;
    border-radius: 50%;
}

.client__info p:first-child {
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: #808285;
}

.client__info p:nth-child(2) {
    margin: 0;
    margin-bottom: 1rem;
    color: #343a40;
}

.client__info span {
    font-size: 1.2rem;
    color: rgb(152, 151, 151);
}

/* Seccion de collage de 4 imágenes */ 
.section-6 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr))
}

/* Sección del footer */

footer {
    padding: 5rem 2em 5rem 2rem;
    background-color: #90D4C5;
}

.footer__title figure {
    display: flex;
    justify-content: center;
}

.footer__title img {
    width: 15rem;
    color: #343a40;
}

.footer__navbar {
    margin-top: 3rem;
}

.footer__navbar ul{
    display: flex;
    justify-content: space-between;
    padding: 0 2rem 0 2rem;
}

.footer__navbar ul li{
    list-style-type: none;
}

.footer__navbar ul li a {
    font-family: 'Barlow', 'sans-serif';
    color: #4A8E7F;
}

.footer__media {
    width: 100%;
    margin: 0 auto;
    margin-top: 3rem;
}

.footer__media ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0 2rem 0 2rem;
}

.footer__media ul li {
    list-style-type: none;
}

footer .attribution {
    margin-top: 2rem;
    font-size: 1.2rem;
    text-align: center;
    color: #4A8E7F;
}

footer .attribution a {
    font-family: 'Barlow', 'sans-serif';
    color: #2E7766;
}